.nav-bar {
  height: 80px;
  display: flex;
  padding: 0px 50px;
  align-items: center;
  background: rgb(96, 218, 251);
  background: linear-gradient(45deg, rgba(0, 152, 121, 1) 0%, rgba(96, 218, 251, 1) 100%);
}

.left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: small;
  flex-basis: 33%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 33%;
}

.right {
  display: flex;
  justify-content: flex-end;
  flex-basis: 33%;
}

.logo {
  border-radius: 8px;
  height: 50px;
}

.title {
  font-size: large;
  color: #e74c3c;
  flex-grow: 1;
}

.desc {
  font-size: 16px;
  color: white;
}
